In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, classification_report

In [3]:
# Load the data
file_path = Path("Resources/FW_Veg_Rem_Combined.csv")
df_dataset1 = pd.read_csv(file_path)
df_dataset1 = df_dataset1[["fire_size","fire_size_class","Vegetation","Temp_pre_30","Wind_pre_30","Hum_pre_30","Prec_pre_30","remoteness"]].copy()
df_dataset1 = df_dataset1.dropna()
df_dataset1.head()

,fire_size,fire_size_class,Vegetation,Temp_pre_30,Wind_pre_30,Hum_pre_30,Prec_pre_30,remoteness
0,10.0,C,12,24.480974,4.341807,78.216590,0.0,0.017923
1,3.0,B,15,7.553433,2.709764,70.840000,59.8,0.184355
2,60.0,C,16,4.971930,3.364499,75.531629,168.8,0.194544
3,1.0,B,0,16.275967,4.054982,44.778429,10.4,0.487447
4,2.0,B,12,-1.000000,-1.000000,-1.000000,-1.0,0.214633

In [4]:
# Load the data
file_path2 = Path("Resources/CAL_FIRE_Facilities_for_Wildland_Fire_Protection.csv")
df_dataset2 = pd.read_csv(file_path2)
#df_dataset2 = df_dataset2[["Y","OBJECTID"]].copy()
df_dataset2.head()

,X,Y,OBJECTID,NAME,CAD_NAME,AKA,TYPE,UNIT,COUNTY,OWNER,FUNDING,STAFFING,ADDRESS,CITY,ZIP,PHONE_NUM,LAT,LON
0,256759.612298,-428927.360971,1,541,HIG 541,Highland,FSA,BDU,San Bernardino,CITY,A,V,26974 Baseline,Highland,92346,909-862-3031,34.121425,-117.216078
1,261958.958369,-428827.963225,2,542,HIG 542,East Highland,FSA,BDU,San Bernardino,CITY,A,P,29507 Baseline,Highland,92346,909-862-1760,34.120931,-117.159705
2,254252.194732,-429740.897461,3,543,HIG 543,Sterling,FSA,BDU,San Bernardino,CITY,A,P,7649 Sterling Ave,Highland,92410,909-884-4100,34.114755,-117.243506
3,273740.896608,-436732.555790,4,551,Yuc 551,Yucaipa,FSAB,BDU,San Bernardino,STATE,C,P,11416 Bryant St,Yucaipa,92399,909-797-1000,34.046457,-117.034721
4,268468.743671,-438277.850908,5,552,Yuc 552,Crafton,FSA,BDU,San Bernardino,CITY,A,P,32664 Yucaipa Bl,Yucaipa,92399,909-797-2313,34.034005,-117.092308

In [5]:
# Separate the Features (X) from the Target (y)
y = df_dataset1["fire_size_class"]
X = df_dataset1.drop(columns="fire_size_class")

In [6]:
# Split our data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=4, 
                                                    stratify=y)
X_train.shape

(41525, 7)

In [7]:
# Create a Logistic Regression Model
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=4)

In [8]:
# Fit (train) or model using the training data
classifier.fit(X_train, y_train)

/Users/remiharazim/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=200, random_state=4)

In [9]:
# Make predictions
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

   Prediction Actual
0           F      G
1           G      B
2           C      B
3           B      C
4           B      B
5           B      B
6           B      B
7           B      B
8           G      G
9           B      C
10          B      B
11          B      B
12          B      B
13          C      C
14          G      B
15          B      B
16          B      B
17          G      C
18          C      B
19          B      B

In [10]:
# Print the balanced accuracy score
print(accuracy_score(y_test, y_pred))

0.8649039156191302

In [14]:
print("This is a conflict")

This is a conflict

In [15]:
print("This is a also conflict")

This is a also conflict

In [16]:
print("This is a really bad conflict")

This is a really bad conflict

In [11]:
# Print the confusion matrix
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[8396  242   39    2   53  399]
 [ 355 2129   42    5   14  158]
 [   0  115  167   13   22   31]
 [   0    0   58   65   39   13]
 [   0    0    0   22  291  179]
 [   0    0    0    0   69  924]]

In [12]:
# Print the classification report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           B       0.96      0.92      0.94      9131
           C       0.86      0.79      0.82      2703
           D       0.55      0.48      0.51       348
           E       0.61      0.37      0.46       175
           F       0.60      0.59      0.59       492
           G       0.54      0.93      0.69       993

    accuracy                           0.86     13842
   macro avg       0.68      0.68      0.67     13842
weighted avg       0.88      0.86      0.87     13842

In [ ]:
print("This is a conflict")